input {
    background-color: #E8E7E7;
    width: 450px;
    height: 60px;
    border: 0;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
}

button {
    background-color: #F1C711;
    width: 450px;
    height: 60px;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 1rem;
}